/src/.phpunit.cache
/src/storage/*.key
/src/.env.backup
/src/.env.production
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/auth.json
/src/npm-debug.log
/src/yarn-error.log
/src/.fleet
/src/.idea
/src/.vscode
/src/vendor
/src/node_modules
